.skills {
  /* border: 1px solid #fff; */
  padding-top: 100px;
  position: relative;
}
.skillsContainer1 {
  width: 82%;
  height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin: auto;
  color: #fff;
  border-radius: 10px;
}

.headingContainer1 {
  display: flex;
  width: 20%;
  margin: auto;
  padding: 30px 0;
}
.heading1 {
  font-size: 23px;
  text-align: center;
  color: #fff;
}
.orangeDash1 {
  border: 1px solid orange;
  margin: auto;
  width: 75px;
  background-color: orange;
}

.skillsLeft1 {
  /* border: 1px solid #fff; */
  width: 95%;
  height: 95%;
  text-align: center;
  display: flex;
  flex-direction: column;
}
@supports (background: paint(houdini)) {
  @property --opacity {
    syntax: "<number>";
    initial-value: 0.5;
    inherits: false;
  }

  @property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
  }

  @keyframes opacityChange {
    to {
      opacity: 1;
    }
  }

  @keyframes rotate {
    to {
      --angle: 360deg;
    }
  }

  .frontendBackend1 {
    animation: rotate 4s linear infinite, opacityChange 3s infinite alternate;
  }
}
.subHeading1 {
  font-size: 22px;
  border-bottom: 2px solid orange;
  width: 25%;
  height: auto;
  margin: auto;
  margin-bottom: 20px;
}
.frontendBackend1 {
  /* border: 1px solid #fff; */
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;

  border: 0.3rem solid transparent;
  /* Paint an image in the border */
  border-image: conic-gradient(
      from var(--angle),
      black 0deg 90deg,
      #fbb300 90deg 180deg,
      black 180deg 270deg,
      #fbb300 270deg 360deg
    )
    1 stretch;
  border-radius: 100px;
}

.skills1 {
  /* border: 2px solid yellow; */
  padding: 0;
  margin: 0;
}
.iconss {
  width: 100px;
  height: 100px;
}
.imgLogo1 {
  width: 100px;
  height: 100px;
}

/* Media Query for Mobile Devices */
@media (min-width: 320px) and (max-width: 767px) {
  .headingContainer1 {
    display: flex;
    width: 70%;
    /* margin: auto; */
    padding: 10px 0 0 0;
  }
  .heading1 {
    font-size: 20px;
  }
  .orangeDash1 {
    width: 60px;
  }
  .skillsContainer1 {
    width: 96%;
  }
  .frontendBackend1 {
    gap: 15px;
  }
  .skills1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }
  .iconss {
    width: 50px;
    height: 50px;
  }
  .imgLogo1 {
    width: 50px;
    height: 50px;
  }
}

/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px) {
  .headingContainer1 {
    display: flex;
    width: 40%;
    margin: auto;
    padding: 30px 0 0 0;
  }
  /* .heading {
        font-size: 18px;
      } */
  .orangeDash1 {
    width: 70px;
  }

  .frontendBackend1 {
    padding: 20px;
    gap: 10px;
  }
  .skillsContainer1 {
    width: 90%;
  }

  .iconss {
    width: 95px;
    height: 95px;
  }
  .imgLogo1 {
    width: 95px;
    height: 95px;
  }
}

/* Media Query for Laptops and Desktops */
@media (min-width: 1024px) and (max-width: 1280px) {
  .headingContainer1 {
    width: 30%;
  }
  .frontendBackend1 {
    padding: 10px;
    gap: 30px;
  }
}
