.navbar {
  width: 75rem;
  margin: 20px 0 0 100px;
  padding: 2rem auto;
  /* border: 1px solid #fff; */
  position: fixed;
  z-index: 50;
}

#navbarLeft {
  /* border: 1px solid orange; */
  width: 50%;
  height: 60px;
}

#navbarRight {
  /* border: 1px solid #fff; */
  font-size: 17px;
  width: 50%;
  height: 60px;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}
#navbarRight > a {
  text-decoration: none;
  cursor: pointer;
  color: #fff;
}
button {
  background-color: orange;
  font-family: "Open Sans", sans-serif;
  color: #0d2334;
  padding: 9px 12px;
  font-size: 16px;
  /* border-radius: 8px; */
  border: none;
}
