/* @import url("https://fonts.googleapis.com/css2?family=Rubik+Vinyl&display=swap") */
.App {
  text-align: center;
  font-family: "Poppins", sans-serif;
  background-color: #0f304d;
}

/* ---- tsparticles container ---- */
